h1, h2, h3, h4, h5, h6, p {
  font-family: helvetica;
}

.heading h1 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.section span {
  color: blue;
  font-weight: bold;
  font-family: helvetica, sans-serif;;
}
